.common-section {
  text-transform: uppercase;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
    line-height: 26px;
    margin-bottom: 28px;
    line-height: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 262px;

    @mixin atMedium {
      width: 485px;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 49px;

      &--large {
        font-size: 26px;
        margin-top: 50px;
      }
    }
}

  &--large {
    font-size: 21px;
  }

  &__text {
    margin-bottom: 5px;

    &--b-margin {
      margin-bottom: 28px;
    }

    @mixin atMedium {
      margin-top: 30px;
      font-size: 13px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;

      &--b-margin {
        width: 416px;
      }
    }

    @mixin atLarge {
      width: 539px;
      font-size: 14px;
    }
  }
}
