.row {
  @mixin clearfix;

  @mixin atMedium {
    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }
  }

  &--t-margin {
    margin-top: 41px;
  }
}
